/*--------- NAV BAR -----------*/
header{
    z-index: 100000;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.637);
}

header .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-nav {
    width: 65px;
    height: 65px;
    display: inline-block;
    top: 15px;
    margin-left: 80px;
    position: relative;
}

.logo-svg-nav {
    fill: cornsilk;
    width: 100%;
    height: auto;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 40px; 
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
}



header .nav-bar .nav-menu a {
    text-decoration: none;
    color: cornsilk;
    margin-right: 15px;
}

header .nav-bar .nav-menu a:hover {
    color: rgb(204, 197, 169);
}

header .nav-bar .social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    position: relative;
    margin-right: 80px;    
}

header .nav-bar .social a {
    text-decoration: none;
    margin-right: 10px;
}

header .nav-bar .social svg {
    text-decoration: none;
    fill: cornsilk;
    width: 20px;
    height: auto;
}

header .nav-bar .social svg:hover {
    fill: rgb(204, 197, 169);
}

header .nav-bar .desplegable{
    display: none;
    position: relative;
    margin-right: 20px;
    top: 8px;
}

header .nav-bar .desplegable .menu-btn{
    fill: cornsilk;
    width: 25px;
    height: auto;
}

@media all and (min-width: 320px){
    header .nav-bar .social{
        display: none;
    }
    .nav-bar .nav-menu{
        left: 0px;
        position: fixed;
        width: 100%;
        height: calc(80% - 80px);
        top: -100vh;
        background: rgba(0, 0, 0, 0.637);
        flex-direction: column;
        text-align: center;
        transition: all .4s;
    }

    header .nav-bar .show {
        top: 80px;
    }

    .logo-nav{
        margin-left: 20px;
    }
    header .nav-bar .desplegable{
        display: flex;
    }
}

@media all and (min-width: 768px){
    header .nav-bar .desplegable{
        display: none;
    }
    header .nav-bar .social{
        display: none;
    }
    .nav-bar .nav-menu{
        position: relative;
        display: flex;
        flex-direction: row;
        width: auto;
        height: auto;
        top: 40px;
        margin-right: 30px;
        background: none;
        transition: none;
    }
    .logo-nav{
        margin-left: 40px;
    }
}

@media all and (min-width: 1024px){
    
    header .nav-bar .social{
        display: flex;
    }
    .nav-bar .nav-menu{
        margin-right: 0px;
    }
    .logo-nav{
        margin-left: 80px;
    }
}



/*--------- FIN NAV BAR -----------*/

/*--------- INICIO -----------*/

.inicio {
    width: 100%;
    height: 700px;
    background: url(../img/Banner.png);
    background-size: cover;
    background-position: 0% 100%;
    text-align: center;
}

.logo-frente {
    top: 150px;
    position: relative;
    display: inline-block;
    width: 350px;
    
    
}
.logo-svg {
    z-index: 10000;
    fill: rgba(255, 248, 220, 0.712);
    width: 100%;
    height: auto;
}
/*INICIO RESPONSIVE*/
@media all and (min-width: 320px){
    .container {
        width: 100%;
        max-width: 767px;
        margin: auto;
    }
    .inicio{
        background-size: 785px 1133px;
        background-repeat: no-repeat;
        background-position: 0% 100%;
    }

    .logo-frente{
        width: 220px;
        
    }
}

@media all and (min-width: 768px){
    .container {
        width: 100%;
        max-width: 1024px;
        margin: auto;
    }

    .inicio{
        background-size: 1016px 1467px;
        background-repeat: no-repeat;
        background-position: 0% 100%;
    }

    .logo-frente {
        width: 300px;
    }
}

@media all and (min-width: 1024px){
    .container {
        width: 100%;
        max-width: 1280px;
        margin: auto;
        
    }

    .inicio{
        background-size: 1234px 1781px;
        background-repeat: no-repeat;
        background-position: 0% 100%;
    }

    .logo-frente{
        width: 350px;
    }
}

@media all and (min-width: 1280px){
    .container {
        width: 100%;
        max-width: 1680px;
        margin: auto;
    }

    .inicio{
        background-size: 1680px 2318px;
        background-repeat: no-repeat;
        background-position: 0% 100%;
    }
}

@media all and (min-width: 1680px){
    .container {
        width: 100%;
        max-width: none;
        margin: auto;
    }

    .inicio{
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0% 100%;
    }
}
/*FIN INICIO RESPONSIVE*/

/*--------- FIN INICIO -----------*/

/*--------- SERVICIOS ---------*/

.servicios {
    width: 100%;
    height: 700px;
    background-color: #222222;  
   

}

.servicios .servicios-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.servicios h3 {
    padding-top: 40px;
    width: 100%;
    height: 80px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: cornsilk;
    margin-bottom: 80px;
}



.servicios .mezcla {
    display: flex;
    width: 280px;
    height: 400px;
    position: relative;
    margin-left: 200px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.servicios .mezcla figure {
    width: 280px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.servicios .mezcla figure .img-mezcla {
    position: relative;
    width: auto;
    height: 100%;
}


.servicios .servicios-wrap .mezcla .capa-mezcla {
    
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(75, 0, 145, 0.274);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; 
}

.servicios .servicios-wrap .mezcla:hover > .capa-mezcla {
    opacity: 1;
    visibility: visible;

}
.servicios .servicios-wrap .mezcla .capa-mezcla h4{

    text-transform: uppercase;
    color: cornsilk;
    letter-spacing: 1.5px;
    margin-bottom: 240px;
    transition: all 400ms ease-out;

}

.servicios .servicios-wrap .mezcla:hover > .capa-mezcla h4 {
    margin-top: 130px;
    margin-bottom: 30px;
    

}

.servicios .servicios-wrap .mezcla .capa-mezcla p{

    width: 100%;
    max-width: 220px;
    margin: auto;
    color: cornsilk;
    letter-spacing: 0.5px;
    line-height: 1.5;
    transition: all 400ms ease-out;

}

.servicios .servicios-wrap .mezcla figure:hover > .img-mezcla {
    transform: scale(1.3);
}


/*---QUEDA PENDIENTE MODIFICAR CODIGO PARA AGREGAR TRANSICIÓN "SCALE" A LA IMAGEN--*/
   
.servicios .podcast {
    display: flex;
    width: 280px;
    height: 400px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.servicios .podcast figure {
    width: 280px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.servicios .podcast figure .img-podcast {
    position: relative;
    width: auto;
    height: 100%;
    
}

.servicios .servicios-wrap .podcast .capa-podcast {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(75, 0, 145, 0.274);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; 
}

.servicios .servicios-wrap .podcast:hover > .capa-podcast {
    opacity: 1;
    visibility: visible;

}
.servicios .servicios-wrap .podcast .capa-podcast h4{

    text-transform: uppercase;
    color: cornsilk;
    letter-spacing: 1.5px;
    margin-bottom: 240px;
    transition: all 400ms ease-out;

}

.servicios .servicios-wrap .podcast:hover > .capa-podcast h4 {
    margin-top: 130px;
    margin-bottom: 30px;
    

}

.servicios .servicios-wrap .podcast .capa-podcast p{

    width: 100%;
    max-width: 220px;
    margin: auto;
    color: cornsilk;
    letter-spacing: 0.5px;
    line-height: 1.5;
    transition: all 400ms ease-out;

}

.servicios .servicios-wrap .podcast figure:hover > .img-podcast {
    transform: scale(1.3);
}

.servicios .beatmaking {
    display: flex;
    width: 280px;
    height: 400px;
    position: relative;
    margin-right: 200px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.servicios .beatmaking figure{
    width: 280px;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.servicios .beatmaking figure .img-beat {
    position: relative;
    width: auto;
    height: 100%;
    
}

.servicios .servicios-wrap .beatmaking .capa-beatmaking {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(75, 0, 145, 0.274);
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center; 
}

.servicios .servicios-wrap .beatmaking:hover > .capa-beatmaking {
    opacity: 1;
    visibility: visible;

}
.servicios .servicios-wrap .beatmaking .capa-beatmaking h4{

    text-transform: uppercase;
    color: cornsilk;
    letter-spacing: 1.5px;
    margin-bottom: 240px;
    transition: all 400ms ease-out;

}

.servicios .servicios-wrap .beatmaking:hover > .capa-beatmaking h4 {
    margin-top: 130px;
    margin-bottom: 30px;
    

}

.servicios .servicios-wrap .beatmaking .capa-beatmaking p{

    width: 100%;
    max-width: 220px;
    margin: auto;
    color: cornsilk;
    letter-spacing: 0.5px;
    line-height: 1.5;
    transition: all 400ms ease-out;

}

.servicios .servicios-wrap .beatmaking figure:hover > img {
    transform: scale(1.3);
}

@media all and (min-width: 320px) {

    

    .servicios {
        height: 800px;
    }

    .servicios h3 {
        height: 30px;
    }
    .servicios .servicios-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .servicios .mezcla {
        display: flex;
        width: 280px;
        height: 180px;
        position: relative;
        margin-left: 0px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
    }

    .servicios .podcast {
        display: flex;
        width: 280px;
        height: 180px;
        margin-top: 50px;
        position: relative;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
    }

    .servicios .beatmaking {
        display: flex;
        width: 280px;
        height: 180px;
        margin-top: 50px;
        position: relative;
        margin-right: 0px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
    }
}

/*--------- FIN SERVICIOS ---------*/

/*--------- SOBRE MÍ ---------*/

.about {
    display: flex;
    width: 100%;
    height: 700px;
    background-color: #222222;  
    justify-content: space-around; 
}

.about .sobre-mi {
    display: inline-block;
    width: 500px;
    height: auto;
    margin-left: 80px ;
    margin-top: 150px;
    
}

.about .sobre-mi h3 {
    
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: cornsilk;
    margin-bottom: 20px;
    border-bottom: 3px solid cornsilk;

}

.about .sobre-mi p {

    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;

}

.about .foto-perfil {
    
    width: 24%;
    height: auto;
    margin-right: 80px;
}

.foto-perfil-img {
    width: 100%;
    height: auto;

}

/*---SOBRE MÍ RESPONSIVE---*/
@media all and (min-width: 320px){
    .about{
        height: 550px;
        align-items: center;
        flex-direction: column;
    }
    .about .sobre-mi{
        position: absolute;
        width: 270px;
        height: 400px;
        margin-left: 0px;
        margin-top: 0px;
        overflow: auto;
    }
    .about .foto-perfil {
        width: 320px;
        height: auto;
        margin-right: 0px;
    }
}

@media all and (min-width: 768px){
    .about .sobre-mi{
        width: 500px;
    }
}

/*--------- SOBRE MÍ ---------*/

/*--------- PROYECTOS ---------*/

.proyectos {
    width: 100%;
    height: 900px;
    background-color: #222222;  

}

.proyectos h3 {
    padding-top: 40px;
    width: 100%;
    height: 80px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: cornsilk;
    margin-bottom: 80px;
    border-bottom: 3px solid cornsilk;
}

.proyectos h4 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    color: cornsilk;
    margin-bottom: 40px;
    border-bottom: 3px solid cornsilk;
    margin-left: 80px;

}

.proyectos .clientes {
    display: flex;
    margin-bottom: 40px;
}

.proyectos .clientes .artepunto-cliente {
    margin-left: 200px;
}

.proyectos .clientes .artepunto-cliente .cuadroimg {
    
    width: 200px;
    height: 200px;
    background-color: rgb(202, 197, 175);
}

.proyectos .clientes .artepunto-cliente p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;
}

.proyectos .personal {
    display: flex;
}

.proyectos .personal .hotel-proyecto {
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

.proyectos .personal .hotel-proyecto p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;
}

.proyectos .personal .hotel-proyecto .hotel-img {
    width: 100%;
    height: auto;
}

.proyectos .personal .remix-proyecto {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.proyectos .personal .remix-proyecto p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;
}

.proyectos .personal .remix-proyecto .adults-img {
    width: 100%;
    height: auto;
}
/*--Proyectos Responsive--*/
@media all and (min-width: 320px){
    .proyectos .clientes .artepunto-cliente{
        margin-left: 10px;
    }

    .proyectos .personal .hotel-proyecto{
        margin-left: 10px;
    }
}
@media all and (min-width: 768px){
    .proyectos .clientes .artepunto-cliente{
        margin-left: 200px;
    }
    .proyectos .personal .hotel-proyecto{
        margin-left: 200px;
    }
}

/*--------- PROYECTOS ---------*/

/*--------- CONTACTO ---------*/

.contacto {
    width: 100%;
    height: 820px;
    background-color: rgb(202, 197, 175);
    text-align: center;
}

.contacto h3 {

    padding-top: 40px;
    width: 100%;
    height: 80px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: rgb(34, 33, 33); 
    margin-bottom: 80px;
    border-bottom: 3px solid #222222;
}

.contacto .contact-wrapper {
    color: cornsilk;
    display: inline-block;
    box-shadow: 0 0 20px 0 rgba(153, 1, 255, .4);

}

.contact-wrapper > * {
    
    padding: 3em;

}

.contact-form {
    
    background-color: #222222;
    text-align: left;

}

form {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contact-wrapper .contact-form .block {
    grid-column: 1 / 3;
}

.contact-form p {

    margin: 0px;
    padding: 1em;

}

.contact-wrapper .contact-form label {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact-form button,
.contact-form input,
.contact-form textarea {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    padding: .7em;
    color: cornsilk;
    border-bottom: 1px solid cornsilk;

}

.contact-form button {
    background: cornsilk;
    border: none;
    text-transform: uppercase;
    padding: 1em;
    color: #222222;
}

.contact-wrapper .contact-form button:hover,
.contact-wrapper .contact-form button:focus {
background: rgb(156, 146, 106);
transition: background-color 0.7s ease-out;
outline: 0;
}

@media all and (min-width: 320px){
    .contact-wrapper > * {
        padding: 2em;
    }
}
@media all and (min-width: 768px){
    .contact-wrapper > * {
        padding: 3em;
    }
}



/*--------- CONTACTO ---------*/

/*--------- PIE DE PAGINA ---------*/

.pie-pagina {
    width: 100%;
    height: 100px;
    background-color: rgb(34, 33, 33); 
}