body {
    background-color: #222222;
}
.container {
    width: 100%;
    max-width: 1780px;
    min-width: 1280px;
    margin: auto;
}
/*--------- NAV BAR -----------*/
header{
    z-index: 100000;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.637);
}

header .nav-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.logo-nav {
    width: 70px;
    height: 70px;
    display: inline-block;
    top: 12px;
    margin-left: 80px;
    position: relative;
}

.logo-svg-nav {
    fill: cornsilk;
    width: 100%;
    height: auto;
}

.nav-menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 40px; 
    position: relative;
    text-transform: uppercase;
}

header .nav-bar .nav-menu a {
    text-decoration: none;
    color: cornsilk;
    margin-right: 15px;
}

header .nav-bar .nav-menu a:hover {
    color: rgb(204, 197, 169);
}

header .nav-bar .social {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    top: 10px;
    position: relative;
    margin-right: 80px;
    
}

header .nav-bar .social a {
    text-decoration: none;
    margin-right: 10px;
}

header .nav-bar .social svg {
    text-decoration: none;
    fill: cornsilk;
    width: 20px;
    height: auto;
}

header .nav-bar .social svg:hover {
    fill: rgb(204, 197, 169);
}



/*--------- NAV BAR -----------*/

/*--------- INICIO -----------*/

.inicio {
    width: 100%;
    height: 700px;
    background: url(../img/Banner.png);
    background-size: cover;
    background-position: 0% 100%;
    text-align: center;
}

.logo-frente {
    top: 150px;
    position: relative;
    display: inline-block;
    width: 350px;
    
    
}
.logo-svg {
    z-index: 10000;
    fill: rgba(255, 248, 220, 0.712);
    width: 100%;
    height: auto;
}

/*--------- INICIO -----------*/

/*--------- SERVICIOS ---------*/

.servicios {
    width: 100%;
    height: 620px;
    background-color: #222222;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.servicios .mezcla {
    
    width: 280px;
    height: 400px;
    background: rgb(228, 223, 205);
    margin-left: 200px;
    
    border: 0.3px solid rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    text-align: center;
}

.servicios .podcast {

    width: 280px;
    height: 400px;
    background: rgb(228, 223, 205);
    
    
    border: 0.3px solid rgba(0, 0, 0, 0.747);
    border-radius: 5px;
    text-align: center;
}

.servicios .beatmaking {

    width: 280px;
    height: 400px;
    background: rgb(228, 223, 205);
    margin-right: 200px;
    
    border: 0.3px solid rgba(0, 0, 0, 0.74);
    border-radius: 5px;
    text-align: center;
}

/*--------- SERVICIOS ---------*/

/*--------- SOBRE MÍ ---------*/

.about {
    width: 100%;
    height: 700px;
    background-color: #222222;    
}

.about .sobre-mi {
    display: inline-block;
    width: 500px;
    height: auto;
    margin-left: 80px ;
    margin-top: 150px;
    
}

.about .sobre-mi h3 {
    
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: cornsilk;
    margin-bottom: 20px;
    border-bottom: 3px solid cornsilk;

}

.about .sobre-mi p {

    margin-top: 20px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;

}

.about .foto-perfil {
    float: right;
    width: 24%;
    height: auto;
    margin-right: 80px;
}

.foto-perfil-img {
    width: 100%;
    height: auto;

}

/*--------- SOBRE MÍ ---------*/

/*--------- PROYECTOS ---------*/

.proyectos {
    width: 100%;
    height: 900px;
    background-color: #222222;  

}

.proyectos h3 {
    padding-top: 40px;
    width: 100%;
    height: 80px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: cornsilk;
    margin-bottom: 80px;
    border-bottom: 3px solid cornsilk;
}

.proyectos h4 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    color: cornsilk;
    margin-bottom: 40px;
    border-bottom: 3px solid cornsilk;
    margin-left: 80px;

}

.proyectos .clientes {
    display: flex;
    margin-bottom: 40px;
}

.proyectos .clientes .artepunto-cliente {
    margin-left: 200px;
}

.proyectos .clientes .artepunto-cliente .cuadroimg {
    
    width: 200px;
    height: 200px;
    background-color: rgb(202, 197, 175);
}

.proyectos .clientes .artepunto-cliente p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;
}

.proyectos .personal {
    display: flex;
}

.proyectos .personal .hotel-proyecto {
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

.proyectos .personal .hotel-proyecto p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;
}

.proyectos .personal .hotel-proyecto .hotel-img {
    width: 100%;
    height: auto;
}

.proyectos .personal .remix-proyecto {
    width: 200px;
    height: 200px;
    margin-left: 20px;
}

.proyectos .personal .remix-proyecto p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    color: cornsilk;
}

.proyectos .personal .remix-proyecto .adults-img {
    width: 100%;
    height: auto;
}

/*--------- PROYECTOS ---------*/

/*--------- CONTACTO ---------*/

.contacto {
    width: 100%;
    height: 820px;
    background-color: rgb(202, 197, 175);
    text-align: center;
}

.contacto h3 {

    padding-top: 40px;
    width: 100%;
    height: 80px;
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 5px;
    color: rgb(34, 33, 33); 
    margin-bottom: 80px;
    border-bottom: 3px solid #222222;
}

.contacto .contact-wrapper {
    color: cornsilk;
    display: inline-block;
    box-shadow: 0 0 20px 0 rgba(153, 1, 255, .3);

}

.contact-wrapper > * {
    
    padding: 3em;

}

.contact-form {
    
    background-color: #222222;

}

form {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contact-form form p {

    margin: 0px;
    padding: 1em;

}

.contact-form button,
.contact-form input,
.contact-form textarea {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    padding: .7em;
    color: cornsilk;
    border-bottom: 1px solid cornsilk;

}

.contact-form button {
    background: cornsilk;
    border: none;
    text-transform: uppercase;
    padding: 1em;
    color: #222222;
}
/*--------- CONTACTO ---------*/

/*--------- PIE DE PAGINA ---------*/

.pie-pagina {
    width: 100%;
    height: 100px;
    background-color: rgb(34, 33, 33); 
}